@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 1rem;
    background-color: #fff;
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
}

div {
    margin-top: 1rem;
}

.heading, aside, main {
    margin: 3rem 0;
}

h1 , h2 , p {
    margin: 0.5rem 0;
}
h2 {
    font-weight: 500;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.heading, #categories, #recent {
    width: 264px;
}
.heading {
    line-height: 1.5rem;
    font-weight: 400;
}

.search-div {
    position: relative;
    padding: 1rem;
}

.search-bar {
    position: absolute;
    top: 0;
    right: 1rem;
    padding: 2px 10px;
    border: solid 1px #000;
    border-radius: 5px;
    display: flex;
}

#search {
    border: none;
    padding: 5px;
    border-right: 1px solid;
    width: 90px;
    font-size: 12px;
}

.search-btn {
    margin: auto;
    padding:  0 0.5rem;
}

#categories div {
    display: flex;
    flex-wrap: wrap;
}

.category-link {
    font-size: 0.6rem;
    padding: 5px;
    color: #000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.111);
    margin: 0.2rem 0.3rem;
    width: fit-content;
}

#recent div {
    display: flex;
    align-items: center;
}

#recent p {
    margin: 0;
    font-size: 10px;
    font-weight: bold;
    line-height: 1rem;
    padding-left: 1rem;
}

.small-img {
    height: 38px;
}

.card {
    border-radius: 10px;
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.161);
    margin-left: 1rem;
    position: relative;
}

#trend-post {
    width: 320px;
    margin: 2rem auto;
    padding-top: 135px;
    line-height: 1.2rem;
}

.trend-desc {
    padding: 0.5rem;
}

.post-img {
    width: 100%;
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
}

.container {
    display: flex;
    flex-flow: wrap;
    width: fit-content;
    margin: auto;
    padding-right: 0.5rem;
    justify-content: space-around;
}

.grid {
    width: 141px;
    margin: 1rem;
}

.grid .card {
    width: 141px;
    height: 141px;
    margin: 0.5rem;
}

small {
    color: #FFC100;
    font-size: 8px;
    font-weight: 400;
}
h4 {
    font-size: 12px;
    font-weight: 700;
}

.trend-desc , .container {
    font-size: 10px;
    line-height: 12px;
}

#recommend {
    width: 95vw;
}
